!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    = render "shared/head"
  %body.min-h-screen.flex.flex-col.justify-between
    %div
      = render "shared/navbar"
      = render "shared/notices"
    .container.mx-auto.h-full
      .flex.flex-col.justify-center
        = yield
    = render "shared/footer"
